<?xml version="1.0" encoding="utf-8"?>
<!-- Overlay para s3://ariescontadorcr/updates-test/.
     Pack-Squirrel fusiona solo connectionStrings.
     El password de RDS NO va aqui. En CI: secrets ARIES_MYSQL_CONNECTION y ARIES_UPDATE_URL. -->
<configuration>
  <connectionStrings>
    <add name="DBconnectionString" connectionString="Server=REPLACE_RDS;port=3306;User id=REPLACE_USER; pwd=REPLACE_PASSWORD; Database=aries; Allow User Variables=True" />
    <add name="UpdateServerString" connectionString="https://ariescontadorcr.s3.us-east-2.amazonaws.com/updates-test/" />
    <add name="HttpBaseUrl" connectionString="http://REPLACE_API/" />
    <add name="IsBeta" connectionString="true" />
  </connectionStrings>
</configuration>
